fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
diskcache
celery
python-dotenv
pydantic>=2.0.0
pydantic-settings
PyJWT
passlib[bcrypt]
email-validator
prometheus-client
httpx
pytest
pytest-asyncio
requests
cryptography 
pytz